---
---
<div class="bib-entry" id="{{ entry.key }}">
  <div class="title">{{ entry.title }}</div>

  <div class="author">
    {% assign author_array_size = entry.author_array | size %}
    {% assign author_array_limit = author_array_size %}
    {% if site.max_author_limit and author_array_size > site.max_author_limit %}
      {% assign author_array_limit = site.max_author_limit %}
    {% endif %}

    {%- for author in entry.author_array limit: author_array_limit -%}
      {% assign author_is_self = false %}
      {%- assign author_last_name = author.last | remove: '¶' | remove: '&' | remove: '*' | remove: '†' | remove: '^' -%}
      {% if site.scholar.last_name contains author_last_name %}
        {% if site.scholar.first_name contains author.first %}
          {% assign author_is_self = true %}
        {% endif %}
      {%- endif -%}
      {% assign coauthor_url = null %}
      {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
      {% if site.data.coauthors[clean_last_name] %}
        {%- for coauthor in site.data.coauthors[clean_last_name] -%}
          {% if coauthor.firstname contains author.first %}
            {%- assign coauthor_url = coauthor.url -%}
            {% break %}
          {% endif %}
        {% endfor %}
      {%- endif -%}

      {%- if forloop.first == false %}, {% endif -%}
      {%- if author_is_self -%}
        <strong>{{ author.first }} {{ author.last }}</strong>
      {%- elsif coauthor_url -%}
        <a href="{{ coauthor_url }}">{{ author.first }} {{ author.last }}</a>
      {%- else -%}
        {{ author.first }} {{ author.last }}
      {%- endif -%}
    {% endfor %}

    {%- assign more_authors = author_array_size | minus: author_array_limit -%}
    {% if more_authors > 0 %}
      {%- assign more_authors_show = '' -%}
      {%- for author in entry.author_array offset: author_array_limit -%}
        {% assign more_authors_show = more_authors_show | append: author.first | append: ' ' | append: author.last %}
        {% unless forloop.last %}{% assign more_authors_show = more_authors_show | append: ', ' %}{% endunless %}
      {%- endfor -%},
      <span
        class="more-authors"
        title="click to view more authors"
        onclick="
            var element = $(this);
            element.attr('title', '');
            var more_authors_text = element.text() == 'et al.' ? '{{more_authors_show}}' : 'et al.';
            var cursorPosition = 0;
            var textAdder = setInterval(function(){
              element.text(more_authors_text.substring(0, cursorPosition + 1));
              if (++cursorPosition == more_authors_text.length){
                clearInterval(textAdder);
              }
            }, '{{site.more_authors_animation_delay}}');
        "
      >et al.</span>
    {% endif %}
  </div>

  <div class="venue">
    {%- if entry.venue_short -%}
      {{ entry.venue_short }}
    {%- elsif entry.type == 'article' -%}
      <em>{{ entry.journal }}</em>{% if entry.year %}, {{ entry.year }}{% endif %}
    {%- elsif entry.type == 'inproceedings' or entry.type == 'incollection' -%}
      <em>In {{ entry.booktitle }}</em>{% if entry.year %}, {{ entry.year }}{% endif %}
    {%- elsif entry.eprint -%}
      arXiv:{{ entry.eprint }}{% if entry.year %}, {{ entry.year }}{% endif %}
    {%- elsif entry.year -%}
      {{ entry.year }}
    {%- endif -%}
  </div>

  <div class="links">
    {%- if entry.abstract %}<a class="abstract" role="button">[abstract]</a>{% endif -%}
    {%- if entry.pdf %} <a href="{% if entry.pdf contains '://' %}{{ entry.pdf }}{% else %}{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}{% endif %}">[pdf]</a>{% endif -%}
    {%- if entry.arxiv %} <a href="http://arxiv.org/abs/{{ entry.arxiv }}">[arXiv]</a>{%- elsif entry.eprint and entry.pdf == nil %} <a href="https://arxiv.org/abs/{{ entry.eprint }}">[arXiv]</a>{% endif -%}
    {%- if entry.code %} <a href="{{ entry.code }}">[code]</a>{% endif -%}
    {%- if entry.website %} <a href="{{ entry.website }}">[website]</a>{% endif -%}
    {%- if entry.slides %} <a href="{% if entry.slides contains '://' %}{{ entry.slides }}{% else %}{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}{% endif %}">[slides]</a>{% endif -%}
    {%- if entry.poster %} <a href="{% if entry.poster contains '://' %}{{ entry.poster }}{% else %}{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}{% endif %}">[poster]</a>{% endif -%}
    {%- if entry.video %} <a href="{{ entry.video }}">[video]</a>{% endif -%}
    {%- if entry.blog %} <a href="{{ entry.blog }}">[blog]</a>{% endif %}
  </div>

  {%- if entry.abstract %}
    <div class="abstract hidden"><p>{{ entry.abstract }}</p></div>
  {% endif %}
</div>
